<div class="content">
  <div>
    <div class="side">
      <h2 class="side__title">Oracles</h2>
      <h3 class="side__number" [ngClass]="notPlayedGames ? 'font-system' : 'font-pink'">
        ({{oraclesList.length}})
      </h3>
    </div>
  </div>
  <div class="card">
    <ul class="card__container">
      @for(oracle of oraclesList;let index = $index; track index){
      <li class="card__list">
        <div class="card__list-inner">
          <div class="card__list-front">
            <h2 class="card__title" [innerHTML]="oracle.name  | highlightText:searchQuery"> {{oracle.name}}
            </h2>
            @if(oracle.image)
            { <div class="card__image-container"><img class="card__image" src="assets/oracles/{{oracle.image}}.webp"
                alt="{{oracle.name}} image"></div>
            }
            @if(oracle.artist){
            <h2 class="card__title" [innerHTML]="' by '+
          oracle.artist | highlightText:searchQuery">by
              {{oracle.artist}}
            </h2>}
          </div>
          <div class="card__list-back" [ngClass]="{'border-pink': oracle.isPlayed }">
            <div class="card__info card__info-scroll">
              <div class="card__info-title">
                <div>
                  <p class="card__name"> {{oracle.name}}
                    {{oracle.artist ? 'by ' + oracle.artist : ''}}
                  </p>
                </div>
              </div>
              <div class="line"></div>
              @if(oracle.description.length > 0) {
              @for(paragraph of oracle.description; let index = $index; track index){
              <p class="card__description">{{paragraph}}</p>}
              }
              @else {
              <p class="card__description">TBI</p>
              }
            </div>
            @if(oracle.web){
            <div class="card__web">
              <a href="{{oracle.web}}" target="_blank">Web</a>
            </div>}
          </div>
        </div>
      </li>}
    </ul>
  </div>
</div>