<section>
  <label class="user__text" for="">¿Cuál es tu usuario de GitHub?</label>
  <input [(ngModel)]="username" type="text" name="userName" id="userName">
  <button [disabled]="!username" (click)="logIn($event)">{{isLoggedIn && username ? 'Logout' : 'Login'}}</button>
</section>
<section>
  @if(isLoggedIn && username) {
  <p class="user__text">Holi, {{username}}</p>
  <img class="user__avatar" src="https://github.com/{{username}}.png" alt="avatar">
  <p class="user__text">Current language: {{clientInformation}}</p>}
  @else {
  <p class="user__text">Holi, ¡inicia sesión!</p>}
</section>
<section>
</section>
