<div class="gotd">
  <h2 mat-dialog-title class="gotd__title">Game of the Day</h2>

  <mat-dialog-content class="gotd__content">
    <div class="gotd__selector">
      <mat-form-field class="gotd__select-field" subscriptSizing="dynamic">
        <mat-label>Pick your favourite type</mat-label>
        <mat-select [(value)]="selectedType">
          @for (type of types; track type) {
            <mat-option [value]="type">{{ type }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="gotd__select-field" subscriptSizing="dynamic">
        <mat-label>Number of players</mat-label>
        <mat-select [(value)]="selectedPlayers">
          @for (option of playerOptions; track option) {
            <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button type="button" mat-raised-button color="primary" [disabled]="!selectedType && !selectedPlayers"
        (click)="showGame()">
        Show game
      </button>
    </div>

    @if (selectedGame(); as game) {
      <div class="gotd__card-wrapper">
        <article class="gotd__card">
          <!-- FRONT -->
          <div class="gotd__card-front">
            <span class="gotd__year-badge">
              {{ game.year }}
            </span>
            <h2 class="gotd__card-title">{{ game.name }}</h2>
            @if (game.image) {
              <div class="gotd__image-container">
                <img class="gotd__image" loading="lazy" src="{{ gamesImageBase }}/{{ game.image }}.webp"
                  alt="{{ game.name }}">
              </div>
            }
            <p class="gotd__card-title">{{ game.editor ? 'by ' + game.editor : '-' }}</p>
          </div>

          <!-- BACK -->
          <div class="gotd__card-back">
            <img class="gotd__flag" src="assets/flags/{{ game.language }}-flag.png" alt="flag">
            <div class="gotd__info">
              <div class="gotd__info-title">
                <p class="gotd__name">{{ game.name }}</p>
                @if (game.year) {
                  <span class="gotd__year">({{ game.year }})</span>
                }
              </div>
              <div class="gotd__line"></div>
              <div class="gotd__info-container">
                <div class="gotd__info-upper">
                  <div style="display: flex; justify-content: space-between; width: 100%;">
                    @if (game.players) {
                      <p class="gotd__players">
                        @for (player of game.players; let index = $index; let first = $first; let last = $last; track index) {
                          {{ game.players.length === 1 && first ? 'For' : '' }} {{ player }} {{ !last ? 'to' :
                          player === 1 && game.players.length === 1 && first ? 'player' : 'players' }}
                        }
                      </p>
                    } @else {
                      <p>-</p>
                    }
                    @if (game.age) {
                      <p class="gotd__players">+{{ game.age }} years</p>
                    }
                    <p class="gotd__time">
                      {{ game.time! < 59 ? game.time + ' min' : (game.time! / 60) === 1 ? '1 h' : game.time! / 60 + ' h' }}
                    </p>
                  </div>
                  <mat-chip-set>
                    @for (type of game.types; let index = $index; track index) {
                      <mat-chip [value]="type">{{ type }}</mat-chip>
                    }
                  </mat-chip-set>
                  @if (game.size) {
                    <div class="gotd__line" style="margin-top: 12px"></div>
                    <mat-chip-set>
                      <mat-chip [value]="game.size">{{ game.size.toUpperCase() }}</mat-chip>
                    </mat-chip-set>
                  }
                </div>
                <div class="gotd__info-down">
                  @if (game.rate) {
                    <div class="gotd__info-down-item">
                      <p class="gotd__rate-title">Rate:</p>
                      <div [style.background-color]="commonFunctions.getRatingColor(game.rate)" class="gotd__badge">
                        {{ game?.rate ?? 'X'}}
                      </div>
                    </div>
                  }
                  @if (game.complexity) {
                    <div class="gotd__info-down-item">
                      <p class="gotd__complexity-title">Complexity:</p>
                      <div [style.background-color]="commonFunctions.getComplexityColor(game.complexity)"
                        class="gotd__badge">
                        {{ game?.complexity ?? 'X'}}
                      </div>
                    </div>
                  }
                  @if (game.bggReference) {
                    <div class="gotd__info-down-item">
                      <p class="gotd__rate-title">BGG page:</p>
                      <a href="https://boardgamegeek.com/boardgame/{{ game.bggReference }}" target="_blank"
                        rel="noopener noreferrer">
                        <div class="gotd__bgg-badge">GO</div>
                      </a>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    }
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-button (click)="close()">Close</button>
  </mat-dialog-actions>
</div>