<div class="content">
  <div>
    <div class="side">
      <h2 class="side__title">Games</h2>
      <h3 class="side__number" [ngClass]="notPlayedGames ? 'font-system' : 'font-pink'">
        ({{filteredGames.length}})
      </h3>
    </div>
  </div>
  <div class="card">
    <ul class="card__container">
      @for(game of filteredGames;let index = $index; track index){
      <li class="card__list" #game>
        <div class="card__list-inner">
          <div class="card__list-front" [ngClass]="{'border-pink': game.isPlayed }">
            @if(game.year){
            <span class="card__year-absolute" [ngClass]="{'border-pink': game.isPlayed }"
              [innerHTML]="(game.year.toString()) | highlightText:searchQuery"></span>
            }
            <h2 class="card__title" [innerHTML]="game.name | highlightText:searchQuery">
            </h2>
            @if(game.image)
            { <div class="card__image-container"><img class="card__image" src="assets/games/{{game.image}}.webp"
                alt="{{game.name}} image"></div>
            }
          </div>
          <div class="card__list-back" [ngClass]="{'border-pink': game.isPlayed }">
            <div class="card__info">
              @if (game.complexity) {
              <div [style.background-color]="commonFunctions.getColor(game.complexity)" class="card__complexity">{{
                game.complexity.toString() === '1' ? '1.00' : game.complexity}}</div>}
              <div class="card__info-title">
                <p class="card__name" [innerHTML]="game.name | highlightText:searchQuery">
                </p>
                @if(game.year){
                <span class="card__year"
                  [innerHTML]="('(' + game.year.toString() + ')') | highlightText:searchQuery"></span>
                }
              </div>
              <div class="line"></div>
              @if(game.players){
              <p>
                @for(player of game.players; let index = $index;let first = $first; let last = $last; track index){
                {{ game.players.length === 1 && first ? 'For' : ''}} {{player}} {{ !last ? 'to' :
                player === 1 && game.players.length === 1 && first ? 'player' :'players'}}
                }
              </p>} @else {
              <p>-</p>
              }
              <p class="card__language">Language: <img class="card__flag" src="assets/flags/{{game.language}}-flag.png"
                  alt="flag">
              </p>
              <p class="card__time">Time: {{game!.time! < 59 ? game.time + ' minutes' : (game!.time! / 60)===1
                  ? '1 hour' : game!.time! / 60 + ' hours' }}</p>
                  @if(game.type){
                  <p class="card__type">Type:
                    @for(type of game.type; let index = $index; let last = $last; track index){
                    {{type}}{{ !last ? ',' : ''}}
                    }</p>}
                  @else {
                  <p class="card__type">Type: -</p>
                  }
                  <p class="card__editor"
                    [innerHTML]="(game.editor ? 'Publisher: ' + game.editor : '-') | highlightText:searchQuery"></p>
            </div>
          </div>
        </div>
      </li>}

    </ul>
    @if(filteredGames.length === 0) {
    <mat-card class="card__no-data">
      <mat-card-content>No games for this search :(</mat-card-content>
    </mat-card>}
  </div>
  <div class="divider"></div>
  <div class="filter">
    <div class="filter__container">
      <mat-form-field style="height: 70px; margin-top: 18px;">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search by name, year, type..." [(ngModel)]="searchQuery" (input)="filterGames()">
        @if (searchQuery) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="restartSearch()">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>
      <mat-form-field style="height: 70px;"><mat-label>Number of players</mat-label>
        <input matInput type="number" maxlength="2" id="exactPlayers" name="exactPlayers" [(ngModel)]="exactPlayers"
          (input)="filterGamesByExactPlayers()">
      </mat-form-field>
      <mat-form-field style="height: 70px;">
        <mat-label>Sort</mat-label>
        <mat-select [formControl]="selectedSorting"
          (selectionChange)="filterFunctions.selectSorting($event, filteredGames)">
          <mat-option *ngFor="let label of sortingSelectLabels" [value]="label">{{label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="height: 70px;">
        <mat-label>Filter by types</mat-label>
        <mat-select [formControl]="selectedTypes" multiple (selectionChange)="filterGamesByTypeAndEditor()">
          <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="height: 70px;">
        <mat-label>Filter by publisher</mat-label>
        <mat-select [formControl]="selectedEditors" multiple (selectionChange)="filterGamesByTypeAndEditor()">
          <mat-option *ngFor="let editor of editors" [value]="editor">{{editor}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="legend__container">
        <button class="button-pink legend__content" type="button" mat-raised-button (click)="togglePlayedFilter(true)">
          Played
        </button>
        <button class="button-system legend__content" type="button" mat-raised-button
          (click)="togglePlayedFilter(false)">
          <p>Not played</p>
        </button>
      </div>
      <button #filterButton type="button" mat-raised-button color="primary" (click)="restartFilters()">Reset
      </button>
    </div>
  </div>
</div>