:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
}

h1 {
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.1rem;
  margin: 0 auto 24px;
  display: flex;
  max-width: 1400px;
  padding-left: 14px;
}

app-games {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding-inline-start: 0;
  position: sticky;
}

li {
  list-style-type: none;
}
