@import "../core/styles/variables";

:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
}

.toolbar {
  border-bottom: 4px solid $bg-color-dark;

  &__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.route {
  &__container :nth-child(2) {
    border-left: 4px solid $bg-color-dark;
  }

  &__buttons {
    border-radius: 0;
    border: none;
    padding: 12px;
    background-color: $bg-color;
    color: $bg-color-dark;
    font-weight: 600;
    cursor: pointer;
    font-size: 24px;
    width: 50%;
    transition: all 0.8s;
    &:hover {
      background-color: $highlight-color;
      color: $white;
    }
  }

  &__color {
    background-color: $highlight-color;
    color: $white;
  }
}
