@import "../core/styles/variables";

:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin-bottom: 18px;

  @media screen and (max-width: 767px) {
    margin-bottom: 0px;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
}

.toolbar {
  border-bottom: 4px solid $bg-color-dark;

  &__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.route {
  &__container :nth-child(2) {
    border-left: 4px solid $bg-color-dark;
  }

  &__container :nth-child(3) {
    border-top: 4px solid $bg-color-dark;
  }

  &__buttons {
    background-color: $bg-color;
    border-radius: 0;
    border: none;
    color: $bg-color-dark;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    height: 40px;
    transition: all 0.8s;

    &:hover {
      background-color: $highlight-color;
      color: $white;
    }

    &-half {
      width: 50%;
    }

    &-full {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      font-size: 18px;
      padding: 8px;
    }
  }

  &__color {
    background-color: $highlight-color;
    color: $white;
  }
}

mat-toolbar {
  height: 40px;
}
