<main>
  <header>
    <mat-toolbar color="primary" class="toolbar">
      <div class="toolbar__container">
        <span>2y2son4's showcase</span>
      </div>
    </mat-toolbar>
    <div class=" route__container">
      <button class="route__buttons route__buttons-half" (click)="selectComponent('games')"
        [ngClass]="{'route__color': isGames}">
        Games</button>
      <button class="route__buttons route__buttons-half" (click)="selectComponent('oracles')"
        [ngClass]="{'route__color': isOracles}">Oracles</button>
    </div>
  </header>
  @if (isGames) {
    <app-games></app-games>}
  @if (isOracles){
    <app-oracles></app-oracles>}
</main>