<main>
  <header>
    <mat-toolbar color="primary" class="toolbar">
      <div class="toolbar__container">
        <span>2y2son4's showcase</span>
      </div>
    </mat-toolbar>
    <div class=" route__container">
      <button class="route__buttons route__buttons-half" routerLink="/games" routerLinkActive="route__color">
        Games
      </button>
      <button class="route__buttons route__buttons-half" routerLink="/oracles" routerLinkActive="route__color">
        Oracles
      </button>
      <!-- <button
        class="route__buttons route__buttons-full"
        routerLink="/search"
        routerLinkActive="route__color"
      >
        BGG Search
      </button> -->
    </div>
  </header>
  <router-outlet></router-outlet>
</main>