<main>
  <header style="margin-bottom: 18px;">
    <mat-toolbar color="primary">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/games']" routerLinkActive="router-link-active"> Games</button>
        <button mat-menu-item [routerLink]="['/oracles']" routerLinkActive="router-link-active">Oracles</button>
      </mat-menu>

      <span>2y2son4's showcase</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>github-circle</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <router-outlet></router-outlet>
  <!-- <div class="main">
    <app-games></app-games>
  </div> -->
</main>