@import "../core/styles/variables";

p {
  margin: 2px;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1500px;
  padding: 0 24px;
  margin: 0 auto;
}

.side {
  position: sticky;
  position: -webkit-sticky;
  top: 14px;
  margin: 14px;
  color: $highlight-color;

  &__title {
    font-size: 40px;
  }

  &__number {
    font-size: 26px;
    text-align: right;
  }
}

.card {
  width: 80%;

  &__container {
    padding-inline-start: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__list {
    list-style-type: none;
    background-color: transparent;
    width: 300px;
    height: 300px;
    margin: 14px;
    perspective: 1000px;
    cursor: url("https://images.emojiterra.com/openmoji/v15.0/512px/21a9.png"),
      pointer;

    @media screen and (max-width: 767px) {
      width: 200px;
      height: 200px;
    }

    &-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    &:hover &-inner {
      transform: rotateY(180deg);
    }

    &-front,
    &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      border: 4px solid;
      border-radius: 12px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      transform: rotateX(0deg);

      @media screen and (max-width: 767px) {
        display: flow;
      }
    }

    &-back {
      transform: rotateY(180deg);
    }
  }

  &__title {
    font-size: 20px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 16px;
      margin-top: 12px;
      margin-bottom: 24px;
      white-space: wrap;
    }
  }

  &__complexity {
    position: absolute;
    top: -20px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 18px;
    border-radius: 50%;
    color: $black;
    border: 4px solid $white;
    font-weight: 700;
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05rem;
  }

  &__year {
    font-size: 16px;

    &-absolute {
      color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-size: 14px;
      font-weight: 600;
      background-color: $bg-color;
      padding: 4px;
      width: 48px;
      height: 32px;
      top: -16px;
      right: -24px;
      border: 4px solid $white;
      border-radius: 12px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;

    &-container {
      width: 100%;
      height: 180px;
      margin-bottom: 10px;
      padding: 0 10px;

      @media screen and (max-width: 767px) {
        height: 90px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    text-align: left;

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }

    &-title {
      display: flex;
      align-items: flex-end;
      gap: 4px;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  &__language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &__flag {
    width: 24px;
  }

  &__no-data {
    margin-top: 18px;
    text-align: center;
    font-size: 18px;
  }
}

.filter {
  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    top: 14px;

    > button {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.line {
  border: 1px solid;
  margin-bottom: 8px;
  width: 100%;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.border {
  &-pink {
    padding: 8px;
    border-radius: 12px;
    border: 4px solid $highlight-color;
  }

  &-system {
    padding: 8px;
    border-radius: 12px;

    @media (prefers-color-scheme: light) {
      border: 4px solid $black;
      color: $black;
    }

    @media (prefers-color-scheme: dark) {
      border: 4px solid $white;
      color: $white;
    }
  }
}

.button {
  &-pink:hover {
    background-color: $highlight-color;
  }

  &-system:hover {
    background-color: $white;
    color: $black;
  }
}

.font {
  &-pink {
    color: $hot-pink;
  }

  &-system {
    @media (prefers-color-scheme: light) {
      color: $black;
    }

    @media (prefers-color-scheme: dark) {
      color: $white;
    }
  }
}

.legend {
  &__container {
    width: 80%;
    margin: 0 auto;
  }

  &__content {
    width: 100%;
    cursor: pointer;

    margin-bottom: 22px;
  }
}
