// Colors
$white: #fff;
$black: #000;
$light-grey: #b9b6b6;
$dark-grey: #212121;
$hot-pink: #c2185b;
$deep-purple: #673ab7;

$bg-color: $light-grey;
$bg-color-dark: $dark-grey;
$highlight-color: $deep-purple;
