@use "./core//styles/variables" as variables;

* {
  box-sizing: border-box;
}

html,
body {
  background-color: variables.$dark-grey;
  color: variables.$white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.highlight {
  background-color: variables.$highlight-color;
  font-weight: bold;
  padding: 2px 0;
  border-radius: 4px;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: variables.$bg-color !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--selected:not(
    .mdc-evolution-chip--disabled
  ) {
  background-color: variables.$highlight-color !important;
  color: variables.$white !important;
}
