/* :root es un pseudo elemento, que se refiere a la raíz del elemento.
Está por encima de 'body' y 'html' */

:root {
  color-scheme: light dark;
  // color-scheme indica al navegador cuáles son los colores que tiene que renderizar por defecto
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.highlight {
  background-color: #c2185b;
  font-weight: bold;
  padding: 2px;
  border-radius: 4px;
}
